<!DOCTYPE html>
<html>
<head>

</head> 
<body>
    <h1>{{title}}</h1>
    <p>Retieve weather information any location you want</p>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message1"></div>
    <p id="message2"></div>    

<script src='../js/app.js'></script>
</body>   
</html>